html { 
 /* background: url(../images/icon.jpg) repeat right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80.5% 100%;*/
}

body{
  display: flex;
  font-family: 'Chango', cursive;
  font-weight: lighter;
  font-size: 0.8em;
}

h2{
 /* font-family: 'Tangerine', cursive;*/
 font-family: 'Chango', cursive;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

[class*="fontawesome-"]:before {
  color: black;
  display: inline-block;
  font-family: 'FontAwesome', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
  font-size: 2em;
  margin-top: 4%;
}

hr{
  border-style: outset;
}


#infobar{
  width: 100%;

}

#fullcontent{
  width: 80%;
  margin:0 10%; 
}

#name{
  margin-top: 0px;
  margin-bottom: 0%; 
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
  font-size: 2.5em;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



#role{
  padding-left: 10%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#skills{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 10%;
  font-size: 0.79em;
}

#move{
    -ms-transform: rotate(10deg); /* IE 9 */
  /*  -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  /*  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(10deg);
 /* transform-origin: 20% 40%;*/
}

#contact{
}

#stickyside{
  left:0; 
  position:fixed; 
  width:20%;
  height: 100%; 
  top:0;
}

#stickyside::after{
  content: "";
  background: url(../images/bg1.1.jpg);
  background-position:center bottom;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.center{
  text-align: center;
}

#contentside{
   padding-left: 20%;
   width:80%;
}

#message{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

#skillstitle{
  padding-left: 2.5%;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.form{

 /* background-color: #37E2D3;*/
  background: url(../images/icon.jpg) no-repeat right fixed;
  background-size: 75% 100%;
  border:1px solid #a1a1a1; 
  box-shadow: 5px 5px 10px black;
  margin: 5px 0;
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 2%;
 /* opacity: 0.9;*/
}

@media screen and (max-width: 750px){
  .form{
    font-size: 0.5em;
  }
}

@media screen and (max-width: 550px){
  #role{
    font-size: 0.5em;
  }
  #name{
    font-size: 1.2em;
  }
  #message{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 330px){
  #message{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 628px){
  #skillstitle{
    display: none;
  }
}

#mail{
  display: block;
  white-space: normal;
  word-wrap: break-word;
}

#mobil{
  display: block;
}

@media screen and (max-width: 650px){
  #mail, #mobil{
    font-size: 0.2em;
  }
  #move{
    font-size: 0.5em;
  }
}

@media screen and (max-width: 1125px){
  #mail, #mobil{
    font-size: 0.5em;
  }
}

.white-text{
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.black-text{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.biopic {
  margin-left: 10%;
  margin-top: 5%;
  width: 70%;
  border-radius: 50%;
/*  border: thin solid #000000;*/
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 50vh;
  width: 100%;
  padding-bottom: 5%;
}

.education-entry{
  margin-bottom: 2.5%;
}

.date-text{
  display: left;
  float: right;
  margin-right: 2%;
  color: gray;
  font-style: italic;
}

.location-text{
  display: left;
  float: right;
  margin-right: 2%;
  font-style: italic;
}

.pic{
  width: 18vw;
  height: 18vh;
  margin-right: 1%;
  margin-top: 1%;
  border-radius: 25px;
  box-shadow: 3px 3px 10px white;
}